@charset "UTF-8";

:root {
  --principal: #52a7ff;
  --cinzaMedio: #666666;
  --text-primary: #E9F4FF;
  --text-secondary: #7F92A5;
  --text-white: #fff;
  --gradient: linear-gradient(89.78deg, #FF7A00 0.19%, #FFA800 99.82%); ;
  --dark-blue: #030409;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

html,
body {
  color: var(--text-white);
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
  min-height: calc(100vh + 1px);
  background: #03050D;
}

body {
  padding-right: 0 !important;
}

h1, h2, h3, h4, p, span {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-style: normal;
  font-weight: 600;
 
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

h4 {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
 
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: var(--text-primary);
}

p {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-secondary);
  margin: 0px;
  font-weight: 400;
}

.text-gradient-blue {
  background: linear-gradient(89.78deg, #1A51C6 0.19%, #449BF0 0.2%, #449BF0 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-orange {

  background: linear-gradient(89.78deg, #FF7A00 0.19%, #FFA800 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}



#hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 250px;
}

#hero .col-form {
  display: flex;
  flex-direction: column;
  z-index: 999;

  padding: 40px;

  background: rgba(4, 1, 24, 0.58);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}


#hero .col-form .data {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(89.78deg, #1A51C6 0.19%, #449BF0 0.2%, #449BF0 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  display: block;

  margin-top: 24px;
  margin-bottom: 24px;
}

#hero .col-form h4{
  margin-bottom: 16px;
}

#hero .col-form h4 u {
  text-decoration-color: #449BF0;
}

#hero .col-form h1 {
  margin-top: 16px;
}

#hero .col-form hr {
  margin: 32px 0px;
}

.destaque {
  color: var(--principal);
}



#c3v1 #hero .col-form .logo{
  margin-bottom: 32px;
}

#c3v1 #hero .col-form h4{
  margin-bottom: 16px;
}

#c3v1 #hero .col-form h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
}

#c3v1 #hero .col-form h1 {
  margin-top: 0px;

}

#c3v1 #hero .col-form hr {
  margin: 32px 0px;
}

.destaque-c3v1 {
  text-decoration: none;
}



footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(8, 11, 14, 0.48);
}

footer p {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 151.02%;

  text-align: center;
  color: #81859F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

footer ul li span {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: var(--principal);
}



.iti-mobile .iti__country-list {
  width: 90%;
}

.iti-mobile .iti__country-name, .iti-mobile .iti__dial-code {
  color: var(--principal);
}

.iti__country-name {
  font-size: 14px;
}

.iti__dial-code {
  font-size: 14px;
}




input:focus-visible {
  filter: brightness(1.5);

  outline: 1px solid rgba(78, 158, 242, 0.1098039216);
}

.btn-submit {
  text-decoration: none;
  text-align: center;
  background: var(--gradient);
  box-shadow: 0px 13px 44px 0px rgba(198, 119, 14, 0.4);
  border-radius: 68px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 12px 40px;
  margin-top: 20px;
  text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}






#c1v1 #hero, 
#c2v1 #hero, 
#c3v1 #hero, 
#c4v1 #hero, 
#c5v1 #hero, 
#c6v1 #hero {
  background-image: url("../img/bg-PR23i.png");
}

#c7v1 #hero, 
#c8v1 #hero,
#c9v1 #hero,
#c10v1 #hero,
#c11v1 #hero{
  background-image: url("../img/bg-PR23i.png");
}



#c7v1 #overlay, #c7v1 .section-content,
#c8v1 #overlay, #c8v1 .section-content,
#c9v1 #overlay, #c9v1 .section-content,
#c10v1 #overlay, #c10v1 .section-content,
#c11v1 #overlay, #c11v1 .section-content {
  display: none;
}



#c4v1 hr {
  display: none;
}

#c4v1 #hero .col-form h1 {
  margin-bottom: 32px;
}

#c4v1 #form-v4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  padding: 3px;
  background: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  position: relative;

  max-width: 600px;
  margin: 0 auto;

  background: rgba(255, 255, 255, 0.04);
  border: 0.5px solid #81859F;
  margin-top: 21px;
}

#c4v1 #form-v4 input {
  height: 100%;
  border-radius: 30px 0px 0px 30px;
  padding: 8px;
  padding-left: 20px;
  border: none;
  outline: none;
  width: 100%;
  background: none;
}



#c4v1 #form-v4 .form-group {
  flex: 1;
}



#c4v1 #form-v4 .list-unstyled {
  margin-top: 12px;
}

#c4v1 #form-v4 .btn-cta {
  -webkit-animation: none;
          animation: none;
  margin: 0px;
}



#c4v1 .btn-submit {
  text-decoration: none;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
  text-transform: none;
  background: var(--gradient), linear-gradient(91.97deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  margin: 0px;
  color: #fff;
}

#c4v1 .btn-submit-v4 {

  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30%;
  margin-right: 30%;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 47px;
  transition: .5s;
  white-space: nowrap;
  overflow: hidden;
}





#c5v1 hr {
  display: none;
}

#c5v1 #hero .col-form h1 {
  margin-bottom: 32px;
}

#c5v1 #form-v5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  padding: 3px;
  background: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  position: relative;

  max-width: 600px;
  margin: 0 auto;

  background: rgba(255, 255, 255, 0.04);
  border: 0.5px solid #81859F;
  margin-top: 21px;
}

#c5v1 #form-v5 input {
  height: 100%;
  border-radius: 30px 0px 0px 30px;
  padding: 8px;
  padding-left: 20px;
  border: none;
  outline: none;
  width: 100%;
  background: none;
}



#c5v1 #form-v5 .form-group {
  flex: 1;
}



#c5v1 #form-v5 .list-unstyled {
  margin-top: 12px;
}

#c5v1 #form-v5 .btn-cta {
  -webkit-animation: none;
          animation: none;
  margin: 0px;
}


#c5v1 .btn-submit {
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
  text-transform: none;
  background: var(--gradient), linear-gradient(91.97deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  margin: 0px;
  color: #fff;
}

#c5v1 .btn-submit-v4 {
    text-decoration: none;
    text-align: center;
    align-items: center;
  width: 140.34px;
  height: 47px;
  transition: .5s;
  white-space: nowrap;
  overflow: hidden;
}




#c6v1 hr {
  display: none;
}

#c6v1 #hero .logo {
  margin-bottom: 24px;
}

#c6v1 #hero .col-form h1 {
  margin-bottom: 32px;
}

#c6v1 #form-v6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  padding: 3px;
  background: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  position: relative;

  max-width: 600px;
  margin: 0 auto;

  background: rgba(255, 255, 255, 0.04);
  border: 0.5px solid #81859F;
  margin-top: 21px;
}

#c6v1 #form-v6 input {
  height: 100%;
  border-radius: 30px 0px 0px 30px;
  padding: 8px;
  padding-left: 20px;
  border: none;
  outline: none;
  width: 100%;
  background: none;
}



#c6v1 #form-v6 .form-group {
  flex: 1;
}



#c6v1 #form-v6 .list-unstyled {
  margin-top: 12px;
}

#c6v1 #form-v6 .btn-cta {
  -webkit-animation: none;
          animation: none;
  margin: 0px;
}



#c6v1 .btn-submit {
    align-items: center;
    text-align: center;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
  text-transform: none;
  background: var(--gradient), linear-gradient(91.97deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  margin: 0px;
  color: #fff;
}

#c6v1 .btn-submit-v4 {
  width: 140.34px;
  height: 47px;
  transition: .5s;
  white-space: nowrap;
  overflow: hidden;
}



#c11v1 #form-v11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  padding: 3px;
  background: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  position: relative;

  max-width: 600px;
  margin: 0 auto;

  background: rgba(255, 255, 255, 0.04);
  border: 0.5px solid #81859F;
  margin-top: 21px;
}

#c11v1 #form-v11 input {
  height: 100%;
  border-radius: 30px 0px 0px 30px;
  padding: 8px;
  padding-left: 20px;
  border: none;
  outline: none;
  width: 100%;
  background: none;
}



#c11v1 #form-v11 .form-group {
  flex: 1;
}



#c11v1 #form-v11 .list-unstyled {
  margin-top: 12px;
}

#c11v1 #form-v11 .btn-cta {
  -webkit-animation: none;
          animation: none;
  margin: 0px;
}



#c11v1 .btn-submit {
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
  text-transform: none;
  background: var(--gradient), linear-gradient(91.97deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  margin: 0px;
  color: #fff;
}

#c11v1 .btn-submit-v11 {
  width: 140.34px;
  height: 47px;
  transition: .5s;
  white-space: nowrap;
  overflow: hidden;
}




.list-unstyled li {
  margin-bottom: -15px;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
